<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="BranchName" value="feature/typedoc" />
    <add key="HttpUrl" value="http://*/docs" />
    <add key="DirectoryName" value="D:\Temp\gogs-repositories" />
  </appSettings>
</configuration>